<!-- <div class="home-container">
    <div class="avatar-wrapper">
        <img class="avatar" [src]="profile.picture.data.url" alt="">
        <div>
            <span>Hi {{profile.name}} !</span>
        </div>
        <h2 class="welcome">Welcome to SOCRATES !</h2>
    </div>
</div> -->
<div class="home-container" fxLayoutAlign="center">
    <mat-card fxFlex=30 class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-wrapper" *ngIf="profile.avatar">
                <img class="avatar" [src]="profile.avatar"/>
            </div>
            <mat-card-title>{{profile.displayName}}</mat-card-title>
            <mat-card-subtitle class="min-h-15">{{profile.email }}</mat-card-subtitle>
            <mat-card-subtitle class="min-h-15">{{profile.account_type }}</mat-card-subtitle>
          </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <h2 class="brown">Welcome to SOCRATES !</h2>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>