.auth-container {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
    
  .auth-wrapper > * {
    width: 100%;
  }
  
  .head {
      text-align: center;
      .brand {
          font-size: 28px;
          padding: 10px;
      }
  }
  
  .btn-sign {
    margin-bottom: 10px;
    &-right {
      float: right;
      margin-bottom: 10px;
    }
  }