<div class="auth-container" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
  fxLayoutAlign.xs="space-between">
  <div fxFlex="30" class="auth-wrapper" fxFlex.xs="55">
    <div class="head">
      <button mat-fab aria-label="Example icon-button with a heart icon">
        <mat-icon>lock</mat-icon>
      </button>
      <div class="brand">Sign In</div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email Address *</mat-label>
      <input matInput placeholder="Typing ..." [(ngModel)]="user.email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password *</mat-label>
      <input matInput placeholder="Typing ..." type="password" [(ngModel)]="user.password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onLogin()">
      SIGN IN
    </button>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onSocialLogin('FacebookAuthProvider')">
      SIGN IN WITH FACEBOOK
      <img src="./../../../assets/facebook-icon.png" alt="">
    </button>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onSocialLogin('GoogleAuthProvider')">
      SIGN IN WITH GOOGLE
      <img src="./../../../assets/google-icon.png" alt="">
    </button>
    <button class="btn-sign-right" mat-stroked-button color="warn" (click)="toRegister()">SIGN UP</button>
  </div>
</div>