<div class="auth-container" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
  fxLayoutAlign.xs="space-between">
  <div fxFlex="30" class="auth-wrapper" fxFlex.xs="55">
    <div class="head">
      <button mat-fab aria-label="Example icon-button with a heart icon">
        <mat-icon>lock</mat-icon>
      </button>
      <div class="brand">Sign Up</div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email Address *</mat-label>
      <input matInput type="email" placeholder="Typing ..." [(ngModel)]="user.email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password *</mat-label>
      <input matInput type="password" placeholder="Typing ..." [(ngModel)]="user.password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Display Name *</mat-label>
      <input matInput type="text" placeholder="Typing ..." [(ngModel)]="user.displayName">
      <mat-icon matSuffix>user</mat-icon>
    </mat-form-field>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onRegister()">
      SIGN UP
    </button>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onSocialRegister('FacebookAuthProvider')">
      SIGN UP WITH FACEBOOK
      <img src="./../../../assets/facebook-icon.png" alt="">
    </button>
    <button class="btn-sign" mat-flat-button color="primary" (click)="onSocialRegister('GoogleAuthProvider')">
      SIGN UP WITH GOOGLE
      <img src="./../../../assets/google-icon.png" alt="">
    </button>
    <button mat-stroked-button color="warn" (click)="toLogin()">Back</button>
  </div>
</div>